### Masive Data Lab Activities

Description : Read and Cleaning Data
File        : H-DHT22-measures.csv 
              H-DHT11-measures.json
              
Name        : Yudi Aditya

In [1]:
import pandas as pd
import json
import numpy as np

### H-DHT22-measures.csv

In [2]:
df1 = pd.read_csv('../data/raw/measures/H-DHT22-measures.csv')
print(df1.shape)
df1.head()

(1440160, 3)

    sensor  value                  time
0  H-DHT22   15.7  2017-12-19T14:07:18Z
1  H-DHT22   15.7  2017-12-19T14:07:25Z
2  H-DHT22   15.7  2017-12-19T14:07:32Z
3  H-DHT22   15.7  2017-12-19T14:07:38Z
4  H-DHT22   15.7  2017-12-19T14:07:45Z

In [20]:
df1.sensor.value_counts()

H-DHT22    1440160
Name: sensor, dtype: int64

In [23]:
# Only one data (H-DHT22) in sensor column, I drop this column
new_df1 = df1.drop(['sensor'], axis='columns') 
new_df1.rename(columns= {'value' : 'H_DHT22'}, inplace = True )
new_df1.head()

   H_DHT22                  time
0     15.7  2017-12-19T14:07:18Z
1     15.7  2017-12-19T14:07:25Z
2     15.7  2017-12-19T14:07:32Z
3     15.7  2017-12-19T14:07:38Z
4     15.7  2017-12-19T14:07:45Z

In [24]:
# Count missing data in each column
missing_H_DHT22= new_df1.H_DHT22.isnull().sum()
missing_time   = new_df1.time.isnull().sum()

missing_data   = pd.DataFrame([[missing_H_DHT22, missing_time]],
                              columns=['H_DHT22', 'time'])

missing_data

   H_DHT22  time
0        0     0

In [25]:
new_df1.describe()

            H_DHT22
count  1.440160e+06
mean   1.001381e+00
std    1.991973e-01
min    1.000000e+00
25%    1.000000e+00
50%    1.000000e+00
75%    1.000000e+00
max    9.990000e+01

In [13]:
import matplotlib.pyplot as plt

xdata = np.arange(0,new_df1.shape[0])
ydata = new_df1.H_DHT22

plt.scatter(xdata,ydata,marker='.',color='red')
plt.show()

Temperature data in H-DHT22-measures.csv file doesn't have any problem. 
There's no missing data and each column has a same format.

### H-DHT11-measures.json

In [30]:
import json

data = []
with open('../data/raw/measures/H-DHT11-measures.json','r') as f:
    for line in f:
        data.append(json.loads(line))

df2 = pd.DataFrame.from_records(data)

print(df2.shape)
df2.head()

(1420302, 3)

    sensor                  time  value
0  H-DHT11  2017-12-22T11:22:11Z     31
1  H-DHT11  2017-12-22T11:22:16Z     31
2  H-DHT11  2017-12-22T11:22:20Z     31
3  H-DHT11  2017-12-22T11:22:24Z     31
4  H-DHT11  2017-12-22T11:22:28Z     31

In [31]:
df2.sensor.value_counts()

H-DHT11    1420302
Name: sensor, dtype: int64

In [32]:
# Only one data (H-DHT11) in sensor column, I drop this column

new_df2 = df2.drop(['sensor'], axis='columns')
new_df2.rename(columns= {'value' : 'H_DHT11'}, inplace = True )
new_df2.head()

                   time  H_DHT11
0  2017-12-22T11:22:11Z       31
1  2017-12-22T11:22:16Z       31
2  2017-12-22T11:22:20Z       31
3  2017-12-22T11:22:24Z       31
4  2017-12-22T11:22:28Z       31

In [34]:
# Count missing data in each column
missing_H_DHT11= new_df2.H_DHT11.isnull().sum()
missing_time   = new_df2.time.isnull().sum()

missing_data   = pd.DataFrame([[missing_H_DHT11, missing_time]],
                              columns=['H_DHT11', 'time'])

missing_data

   H_DHT11  time
0        0     0

In [35]:
new_df2.describe()

            H_DHT11
count  1.420302e+06
mean   3.500247e+01
std    1.173970e+00
min    3.100000e+01
25%    3.400000e+01
50%    3.500000e+01
75%    3.600000e+01
max    3.900000e+01

there is no problem so far.